[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
lxml = "*"
click = "*"
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
gunicorn = "*"

[dev-packages]
ipython = "*"
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"

[scripts]
qualifying_offer = 'python qualifying_offer.py'
